services:
  app:
    build: .
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    command: uvicorn src.main:app --host 0.0.0.0 --port 3001 --reload

  db:
    image: postgis/postgis:15-3.3
    environment:
      POSTGRES_USER: org
      POSTGRES_PASSWORD: org
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
